{{!-- Page to edit docker-compose --}}
{{#with (changeset model skipValidate=true) as |changeset|}}
<div class="edit">
  <h2 class="title">{{t (humanize 'Edit docker-compose')}}</h2>

  {{!--
    Actions to save or cancel changes;
    or delete docker-compose.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new docker-compose" {{action 'save' changeset model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' changeset model}}>Cancel</button>
    <button type="button" class="btn delete" title="Delete this item" {{action 'delete' changeset model}}>Delete</button>
  </div>

  {{!-- Table to show details of docker-compose. --}}
  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
      <td>text</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='text' editable=true}}</td>
</tr>
      <tr>
      <td>title</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='title' editable=true}}</td>
</tr>

        <tr><td>relatedWorkflows</td><td align='middle'>{{edit-belongs-to relName=changeset.relatedWorkflows relType="pipeline"}}</td></tr>
        <tr><td>relatedStacks</td><td align='middle'>{{edit-has-many relName=changeset.relatedStacks relType="stack"}}</td></tr>

    </tbody>
  </table>
</div>
{{/with}}
