{{!-- Page to list pipelines --}}
<div class="content">
  <h2 class="title">{{t (humanize 'docker-composes')}}</h2>
  <div class="actions">{{#link-to "docker-composes.new" class="btn new" title=(t "Create new item") tagName="button" }}{{t 'Create'}}{{/link-to}}</div>
  {{#data-table
     content=model
     isLoading=isLoadingModel
     filter=filter
     sort=sort
     page=page
     size=size
     as |t|}}
    {{#t.content as |c|}}
      {{#c.header}}
        {{!-- th-sortable field='text' currentSorting=sort label=(t 'text') --}}
        <th>text</th>
{{!-- th-sortable field='title' currentSorting=sort label=(t 'title') --}}
        <th>title</th>
        {{!-- th-sortable field='relatedWorkflows' currentSorting=sort label=(t 'relatedWorkflows') --}}
        <th>{{t 'relatedWorkflows'}}</th>
        <th>{{!-- contains detail view action --}}</th>
        <th>{{!-- contains detail edit action --}}</th>
      {{/c.header}}
      {{#c.body as |row|}}
        <td>{{row.text}}</td>
<td>{{row.title}}</td>
        <td>{{display-model-belongsto-relationship model=row.relatedWorkflows itemRoute='pipelines.show' configuredLabel='stringRep'}}</td>
        <td>{{link-to (t 'Open') 'docker-composes.show' row}}</td>
        <td>{{link-to (t 'Edit') 'docker-composes.edit' row}}</td>
      {{/c.body}}
    {{/t.content}}
  {{/data-table}}
</div>
