{{!-- Page to list pipelines --}}
<div class="content">
  <h2 class="title">{{t (humanize 'steps')}}</h2>
  <div class="actions">{{#link-to "steps.new" class="btn new" title=(t "Create new item") tagName="button" }}{{t 'Create'}}{{/link-to}}</div>
  {{#data-table
     content=model
     isLoading=isLoadingModel
     filter=filter
     sort=sort
     page=page
     size=size
     as |t|}}
    {{#t.content as |c|}}
      {{#c.header}}
        {{!-- th-sortable field='title' currentSorting=sort label=(t 'title') --}}
        <th>title</th>
{{!-- th-sortable field='description' currentSorting=sort label=(t 'description') --}}
        <th>description</th>
{{!-- th-sortable field='code' currentSorting=sort label=(t 'code') --}}
        <th>code</th>
{{!-- th-sortable field='order' currentSorting=sort label=(t 'order') --}}
        <th>order</th>
{{!-- th-sortable field='status' currentSorting=sort label=(t 'status') --}}
        <th>status</th>
        {{!-- th-sortable field='pipeline' currentSorting=sort label=(t 'pipeline') --}}
        <th>{{t 'pipeline'}}</th>
        <th>{{!-- contains detail view action --}}</th>
        <th>{{!-- contains detail edit action --}}</th>
      {{/c.header}}
      {{#c.body as |row|}}
        <td>{{row.title}}</td>
<td>{{row.description}}</td>
<td>{{row.code}}</td>
<td>{{row.order}}</td>
<td>{{row.status}}</td>
        <td>{{display-model-belongsto-relationship model=row.pipeline itemRoute='pipelines.show' configuredLabel='stringRep'}}</td>
        <td>{{link-to (t 'Open') 'steps.show' row}}</td>
        <td>{{link-to (t 'Edit') 'steps.edit' row}}</td>
      {{/c.body}}
    {{/t.content}}
  {{/data-table}}
</div>
