{{!-- Page to edit container-relation --}}
{{#with (changeset model skipValidate=true) as |changeset|}}
<div class="edit">
  <h2 class="title">{{t (humanize 'Edit container-relation')}}</h2>

  {{!--
    Actions to save or cancel changes;
    or delete container-relation.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new container-relation" {{action 'save' changeset model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' changeset model}}>Cancel</button>
    <button type="button" class="btn delete" title="Delete this item" {{action 'delete' changeset model}}>Delete</button>
  </div>

  {{!-- Table to show details of container-relation. --}}
  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
      <td>index</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='index' editable=true}}</td>
</tr>

        <tr><td>group</td><td align='middle'>{{edit-belongs-to relName=changeset.group relType="container-group"}}</td></tr>
      <tr><td>item</td><td align='middle'>{{edit-belongs-to relName=changeset.item relType="container-item"}}</td></tr>
        

    </tbody>
  </table>
</div>
{{/with}}
