{{!-- Page to create a new container-relation --}}
<div class="new">
  <h2 class="title">{{t (humanize 'New container-relation')}}</h2>

  {{!--
    Actions to save new container-relation
    or delete new container-relation.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new container-relation" {{action 'save' model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' model}}>Cancel</button>
  </div>

  {{!-- Table to show details of container-relation. --}}
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
        <td>index</td>
<td align='middle'>{{handle-attribute model=model attribute='index' editable=true}}</td>
      </tr>
      <tr><td>group</td><td align='middle'>{{edit-belongs-to relName=model.group relType="container-group"}}</td></tr>
      <tr><td>item</td><td align='middle'>{{edit-belongs-to relName=model.item relType="container-item"}}</td></tr>
      
    </tbody>
  </table>
</div>
