{{!-- Page to edit status --}}
{{#with (changeset model skipValidate=true) as |changeset|}}
<div class="edit">
  <h2 class="title">{{t (humanize 'Edit status')}}</h2>

  {{!--
    Actions to save or cancel changes;
    or delete status.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new status" {{action 'save' changeset model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' changeset model}}>Cancel</button>
    <button type="button" class="btn delete" title="Delete this item" {{action 'delete' changeset model}}>Delete</button>
  </div>

  {{!-- Table to show details of status. --}}
  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
      <td>title</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='title' editable=true}}</td>
</tr>

        
        <tr><td>pipelineInstances</td><td align='middle'>{{edit-has-many relName=changeset.pipelineInstances relType="pipeline-instance"}}</td></tr>

    </tbody>
  </table>
</div>
{{/with}}
