{{!-- Page to edit service --}}
{{#with (changeset model skipValidate=true) as |changeset|}}
<div class="edit">
  <h2 class="title">{{t (humanize 'Edit service')}}</h2>

  {{!--
    Actions to save or cancel changes;
    or delete service.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new service" {{action 'save' changeset model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' changeset model}}>Cancel</button>
    <button type="button" class="btn delete" title="Delete this item" {{action 'delete' changeset model}}>Delete</button>
  </div>

  {{!-- Table to show details of service. --}}
  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
      <td>name</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='name' editable=true}}</td>
</tr>
      <tr>
      <td>scaling</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='scaling' editable=true}}</td>
</tr>
      <tr>
      <td>requestedScaling</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='requestedScaling' editable=true}}</td>
</tr>
      <tr>
      <td>restartRequested</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='restartRequested' editable=true}}</td>
</tr>

        <tr><td>pipelineInstance</td><td align='middle'>{{edit-belongs-to relName=changeset.pipelineInstance relType="pipeline-instance"}}</td></tr>
      <tr><td>status</td><td align='middle'>{{edit-belongs-to relName=changeset.status relType="status"}}</td></tr>
      <tr><td>requestedStatus</td><td align='middle'>{{edit-belongs-to relName=changeset.requestedStatus relType="status"}}</td></tr>
        

    </tbody>
  </table>
</div>
{{/with}}
