{{!-- Page to list services --}}
<div class="content">
  <h2 class="title">{{t (humanize 'services')}}</h2>
  <div class="actions">{{#link-to "services.new" class="btn new" title="Create new item" tagName="button" }}Create{{/link-to}}</div>
  {{#if model}}
    <table>
      <thead>
        <tr>
          <th class="properties__label">id</th>
          {{sortable-table-header attribute="name" currentSort=sort}}
{{sortable-table-header attribute="scaling" currentSort=sort}}
{{sortable-table-header attribute="requestedScaling" currentSort=sort}}
{{sortable-table-header attribute="restartRequested" currentSort=sort}}

          {{sortable-table-header attribute="pipelineInstance" currentSort=sort}}
{{sortable-table-header attribute="status" currentSort=sort}}
{{sortable-table-header attribute="requestedStatus" currentSort=sort}}
          
        </tr>
      </thead>
      <tbody>
        {{#each model as |item|}}
          {{#link-to "services.show" item tagName='tr' }}
              <td>{{handle-attribute model=item attribute='id' classes='properties__data'}}</td>
            {{handle-attribute model=item attribute='name' tagName='td' classes='properties__data'}}
            {{handle-attribute model=item attribute='scaling' tagName='td' classes='properties__data'}}
            {{handle-attribute model=item attribute='requestedScaling' tagName='td' classes='properties__data'}}
            {{handle-attribute model=item attribute='restartRequested' tagName='td' classes='properties__data'}}
            {{display-model-belongsto-relationship model=item.pipelineInstance tagName='td' itemRoute='pipeline-instances.show' configuredLabel='stringRep'}}
            {{display-model-belongsto-relationship model=item.status tagName='td' itemRoute='statuses.show' configuredLabel='stringRep'}}
            {{display-model-belongsto-relationship model=item.requestedStatus tagName='td' itemRoute='statuses.show' configuredLabel='stringRep'}}

          {{/link-to}}
        {{/each}}
      </tbody>
    </table>

    {{#if model.meta.pagination}}
      {{pagination-component page=page numberOfItems=model.length total=model.meta.count links=model.meta.pagination}}
    {{/if}}
  {{else}}
    <div class="empty">
      No {{t (humanize 'services')}} in the database.
      Click on the <i class="fa fa-plus" aria-hidden="true"></i> button to create a new {{t (humanize "service")}}.
    </div>
  {{/if}}
</div>
