{{!-- Page to edit pipeline-instance --}}
{{#with (changeset model skipValidate=true) as |changeset|}}
<div class="edit">
  <h2 class="title">{{t (humanize 'Edit pipeline-instance')}}</h2>

  {{!--
    Actions to save or cancel changes;
    or delete pipeline-instance.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new pipeline-instance" {{action 'save' changeset model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' changeset model}}>Cancel</button>
    <button type="button" class="btn delete" title="Delete this item" {{action 'delete' changeset model}}>Delete</button>
  </div>

  {{!-- Table to show details of pipeline-instance. --}}
  <table>
    <thead>
      <tr>
        <th>Property</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
      <td>title</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='title' editable=true}}</td>
</tr>
      <tr>
      <td>icon</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='icon' editable=true}}</td>
</tr>
      <tr>
      <td>restartRequested</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='restartRequested' editable=true}}</td>
</tr>
      <tr>
      <td>updateRequested</td>
      <td align='middle'>{{handle-attribute model=changeset attribute='updateRequested' editable=true}}</td>
</tr>

        <tr><td>stack</td><td align='middle'>{{edit-belongs-to relName=changeset.stack relType="stack"}}</td></tr>
      <tr><td>status</td><td align='middle'>{{edit-belongs-to relName=changeset.status relType="status"}}</td></tr>
      <tr><td>requestedStatus</td><td align='middle'>{{edit-belongs-to relName=changeset.requestedStatus relType="status"}}</td></tr>
        <tr><td>services</td><td align='middle'>{{edit-has-many relName=changeset.services relType="service"}}</td></tr>

    </tbody>
  </table>
</div>
{{/with}}
