{{!-- Page to list pipelines --}}
<div class="content">
  <h2 class="title">{{t (humanize 'container-items')}}</h2>
  <div class="actions">{{#link-to "container-items.new" class="btn new" title=(t "Create new item") tagName="button" }}{{t 'Create'}}{{/link-to}}</div>
  {{#data-table
     content=model
     isLoading=isLoadingModel
     filter=filter
     sort=sort
     page=page
     size=size
     as |t|}}
    {{#t.content as |c|}}
      {{#c.header}}
        {{!-- th-sortable field='title' currentSorting=sort label=(t 'title') --}}
        <th>title</th>
{{!-- th-sortable field='repository' currentSorting=sort label=(t 'repository') --}}
        <th>repository</th>
{{!-- th-sortable field='dockerText' currentSorting=sort label=(t 'dockerText') --}}
        <th>dockerText</th>
        
        <th>{{!-- contains detail view action --}}</th>
        <th>{{!-- contains detail edit action --}}</th>
      {{/c.header}}
      {{#c.body as |row|}}
        <td>{{row.title}}</td>
<td>{{row.repository}}</td>
<td>{{row.dockerText}}</td>
        
        <td>{{link-to (t 'Open') 'container-items.show' row}}</td>
        <td>{{link-to (t 'Edit') 'container-items.edit' row}}</td>
      {{/c.body}}
    {{/t.content}}
  {{/data-table}}
</div>
