{{!-- Page to list pipelines --}}
<div class="content">
  <h2 class="title">{{t (humanize 'pipelines')}}</h2>
  <div class="actions">{{#link-to "pipelines.new" class="btn new" title=(t "Create new item") tagName="button" }}{{t 'Create'}}{{/link-to}}</div>
  {{#data-table
     content=model
     isLoading=isLoadingModel
     filter=filter
     sort=sort
     page=page
     size=size
     as |t|}}
    {{#t.content as |c|}}
      {{#c.header}}
        {{!-- th-sortable field='title' currentSorting=sort label=(t 'title') --}}
        <th>title</th>
{{!-- th-sortable field='description' currentSorting=sort label=(t 'description') --}}
        <th>description</th>
        {{!-- th-sortable field='dockerFile' currentSorting=sort label=(t 'dockerFile') --}}
        <th>{{t 'dockerFile'}}</th>
        <th>{{!-- contains detail view action --}}</th>
        <th>{{!-- contains detail edit action --}}</th>
      {{/c.header}}
      {{#c.body as |row|}}
        <td>{{row.title}}</td>
<td>{{row.description}}</td>
        <td>{{display-model-belongsto-relationship model=row.dockerFile itemRoute='docker-composes.show' configuredLabel='stringRep'}}</td>
        <td>{{link-to (t 'Open') 'pipelines.show' row}}</td>
        <td>{{link-to (t 'Edit') 'pipelines.edit' row}}</td>
      {{/c.body}}
    {{/t.content}}
  {{/data-table}}
</div>
