{{!-- Page to create a new pipeline --}}
<div class="new">
  <h2 class="title">{{t (humanize 'New pipeline')}}</h2>

  {{!--
    Actions to save new pipeline
    or delete new pipeline.
  --}}
  <div class="actions">
    <button type="button" class="btn save" title="Save new pipeline" {{action 'save' model}}>Save</button>
    <button type="button" class="btn cancel" title="Cancel" {{action 'cancel' model}}>Cancel</button>
  </div>

  {{!-- Table to show details of pipeline. --}}
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      {{!-- Creating rows for attributes depending on the type of property --}}
            <tr>
        <td>title</td>
<td align='middle'>{{handle-attribute model=model attribute='title' editable=true}}</td>
      </tr>
      <tr>
        <td>description</td>
<td align='middle'>{{handle-attribute model=model attribute='description' editable=true}}</td>
      </tr>
      <tr><td>dockerFile</td><td align='middle'>{{edit-belongs-to relName=model.dockerFile relType="docker-compose"}}</td></tr>
      <tr><td>steps</td><td align='middle'>{{edit-has-many relName=model.steps relType="step"}}</td></tr>
    </tbody>
  </table>
</div>
